/*-----------------------------
variables styling
-----------------------------*/
:root {
    --grey: #fafafa;
    --lightgrey: #959ca7;
    --darkgrey: #4c525a;
    --green: #00b289;
    --white: #fff;
    --textgrey: #777;
}

/*-----------------------------
general
-----------------------------*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Proximanova regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://uploads-ssl.webflow.com/58868bcd2ef4daaf0f072900/58882027df653d342d043883_ProximaNova-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Proximanova light";
    font-style: normal;
    font-weight: 300;
    src: url("https://uploads-ssl.webflow.com/58868bcd2ef4daaf0f072900/5888204d45b15b0527f951c7_ProximaNova-Light.otf") format("opentype");
}

html, body {
    height: 100%;
}

body {
    background: #faffff;
    font-family: "Proximanova regular", Georgia, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1 {
    color: #00b289;
    font-size: 2.45em;
    font-family: "Proximanova light";
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--darkgrey);
}

img {
    max-width: 100%;
}

sup {
    color: var(--green);
    font-weight: bolder;
}

p {
    color: var(--textgrey);
    font-size: 1rem;
    font-family: "Proximanova regular";
    font-weight: 400;
    line-height: 24px;
}

.fas.fa-chevron-down {
    font-size: 12px;
    margin-left: 7px;
}

.button {
    background-color: var(--green);
    border-radius: 4px;
    color: var(--white);
    padding: 16px 26px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
}

.button-outline {
    border: 1px solid var(--green);
    border-radius: 4px;
    color: var(--green);
    background-color: transparent;
    padding: 14px 14px;
}

.section-grey {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--grey);
}
.animate{
	-webkit-transition: all 0.3s ease-out;
					transition: all 0.3s ease-out;
}

/*-----------------------------
container
-----------------------------*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*-----------------------------
header
-----------------------------*/
.header{background-color: var(--grey);justify-content: center;display: flex;position: sticky;top: 0;width: 100%;z-index: 1;}
.header-container{display: flex;align-items: center;padding: 8px 0;justify-content: end;width: 940px;}
.header-logo {width: 160px;margin-right: auto;}
.header-menu{margin: 0;padding: 0;}
.header-menu__item {display: inline-block;list-style-type: none;text-transform: uppercase;letter-spacing: .08em;cursor: pointer;}
.header-menu__item a {padding: 14px 14px;display: block;}
.header-menu .button {margin-left: 25px;}
/* Dropdown Content (Hidden by Default) */
.header-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    list-style-type: none;
    top: 72px;
    border-radius: 10px;
    background-color: var(--white);
}
/* Links inside the dropdown */
.header-dropdown a {color: var(--lightgrey);padding: 14px 8px 14px 18px;display: block;}
/* Change color of dropdown links on hover */
.header-dropdown a:hover {color: var(--darkgrey);transition: .3s;}
/* Show the dropdown menu */
.show {display: block;}
.header__icon-bar{display: block;float: right;padding:20px;display: none;}
.header__icon-bar span{display: block;height:3px; width: 15px;background:var(--green); margin-bottom: 5px;}
/*-----------------------------
Lazycesar
section-1
-----------------------------*/
.dashboard {
    display: flex;
    width: 940px;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 8rem;
}
.dashboard-text {
    width: 45%;
}
.dashboard-text .button {
    margin-top: 15px;
    margin-bottom: 20px;
}
.dashboard-img {
    width: 80%;
    position: absolute;
    top: 30px;
    right: -281px;
}
.button--hover:hover{
    opacity: 0.9;
}
.dashboard > p {
    margin-bottom: 10%;
}
.dashboard-logos {
    margin-top:1rem;
    display: inline-block;
    opacity: 0.5;
}
/*-----------------------------
Zoey
section-2
-----------------------------*/
.section-2{
    width: 940px;
    color: var(--darkgrey);
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.section-2-part1{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}
.section-2-part1__items{
    width: 50%;
}
.section-2-part1__items a{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 90%;
    padding-top: 2rem;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0.9;
}
.section-2-part1__items a:hover{
    width: 93%;
    height: 93%;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.1), 0 14px 28px 0 rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: 0.3s;
}
.section-2-part1__items a img{
    width: 85px;
    height: 85px;
    margin-bottom: 0;
}
.section-2-part1__items a p{
    margin-top: 0;
}

.section-2-part2{
    width: 55%;
    padding: 10px 20px;
}

 /*-----------------------------
Zoey
section-3
-----------------------------*/  
.section-3{
    width: 940px;
    color: var(--darkgrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.section-3-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .section-3-main__items{
    width: 49%;
    border-radius: 10px; 
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition-duration: .5s;
 }
 .section-3-main__items:hover{
    margin-bottom: 20px;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 18px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
 }
 .section-3-main__item1{
    -webkit-background-image:linear-gradient( rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('img/asset 31.png');
    -moz-background-image:linear-gradient( rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('img/asset 31.png');
    background-image:linear-gradient( rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('img/asset 31.png');
    background-repeat: repeat ,no-repeat;
    background-position:  -60px 20px;
    background-size: 200px;
 }
 .section-3-main__item1:hover{
    background-image:url('img/asset 31.png');
    background-repeat: no-repeat;
    background-position: -60px 0;
 }
 .section-3-main__item2{
    background-image:linear-gradient( rgba(255,255,255,0.7), rgba(255,255,255,0.7)),url(https://uploads-ssl.webflow.com/58868bcd2ef4daaf0f072900/588fc004fa3c387e2ce03e8d_welcome-watch-icon-d8ce4c79fb9de1b107d34b980a421748.svg);
    background-repeat:repeat ,no-repeat;
    background-position: -80px 20px;
    background-size: 200px;
 }
 .section-3-main__item2:hover{
    background-image: url(https://uploads-ssl.webflow.com/58868bcd2ef4daaf0f072900/588fc004fa3c387e2ce03e8d_welcome-watch-icon-d8ce4c79fb9de1b107d34b980a421748.svg);
    background-position: -80px 0;
    background-repeat: no-repeat;
 }
 .section-3-main__item3{
    background-image:linear-gradient( rgba(255,255,255,0.7), rgba(255,255,255,0.7)),url(https://uploads-ssl.webflow.com/58868bcd2ef4daaf0f072900/588fbf3efa3c387e2ce03e1b_welcome-hands-icon.svg);
    background-repeat:repeat ,no-repeat;
    background-position: -80px 35px;
    background-size: 200px;
 }
 .section-3-main__item3:hover{
    background-image: url(https://uploads-ssl.webflow.com/58868bcd2ef4daaf0f072900/588fbf3efa3c387e2ce03e1b_welcome-hands-icon.svg);
    background-position: -80px 0;
    background-repeat: no-repeat;
 }
 .section-3-main__item4{
    background-image:linear-gradient( rgba(255,255,255,0.7), rgba(255,255,255,0.7)),url('img/asset 34.png');
    background-repeat: repeat,no-repeat;
    background-position: -80px 30px;
    background-size: 200px;
 }
 .section-3-main__item4:hover{
    background-image: url('img/asset 34.png');
    background-position: -80px 0;
    background-repeat: no-repeat;
 }

 .section-3__button {
    margin-top: 40px;
 } 
/*-----------------------------
Zoey
section-4
-----------------------------*/
.section-4 {
    width: 940px;
    color: var(--darkgrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}

.section-4-header__title {
    text-align: center;
    margin-bottom: 0;
    color: var(--darkgrey)
}

#tabs {
    display: flex;
    flex-direction: column;
}

.section-4-main__tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 20px 110px;
    border-bottom: 1px solid #ddd;
    flex-shrink: 1;
}

.section-4-list {
    list-style-type: none;
    padding: 8px;
}

.active-tab {
    color: var(--green);
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 {
    display: flex;
}

.section-4-main__item1 {
    border-bottom: 1px solid #ddd;
    align-self: flex-start;
    padding: 20px;
    padding-bottom: 0;
    flex-shrink: 1;
}

.section-4-main__item1 div {
    padding: 1.3rem;
    padding-bottom: 0;
    margin: 10px;
    margin-bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 25px 25px 0 0;
    border-bottom: 0;
}

.section-4-main__item1 img {
    border: 1px solid #ddd;
    margin: 0;
    border-bottom: 0;
    max-width: 100%;
}

.section-4-main__item2 {
    padding: 10px;
    flex-shrink: 1;
}

.section-4-main__moving {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 90px;
    height: 90px;
    -webkit-animation: slidedown 3s infinite alternate;
    -moz-animation: slidedown 3s infinite alternate;
    -o-animation: slidedown 3s infinite alternate;
    animation: slidedown 3s infinite alternate;
}

@-webkit- @keyframes slidedown {
    from {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    to {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@-moz- @keyframes slidedown {
    from {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    to {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@-o- @keyframes slidedown {
    from {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    to {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@keyframes slidedown {
    from {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    to {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.section-4-main__item2 h1 {
    margin-top: 15px; 
}

.section-4-main__item2 p {
    display: inline-block;
    color: #696969;
    line-height: 20px;
    font-size: 1.1em;
    margin-top: 40px;
}

.section-4-main__item2 p a {
    margin-right: 40px;
    color: #00b289;
}

.fas.fa-chevron-right {
    font-size: 12px;
    margin-left: 7px;
}

.section-4__button {
    margin: 40px auto 150px auto;
}

/*-----------------------------
Zoey
section-5
-----------------------------*/
.section-5 {
    width: 940px;
    display: flex;
    flex-direction: column;
    color: #696969;
}

.section-5-header__title {
    text-align: center;
}

.section-5-header__subtitle {
    display: block;
    text-align: center;
    color: #696969;
    font-size: 1.2em;
    font-family: "Proximanova light";
    margin-bottom: 0;
}

.section-5-main{
    display: flex;
    flex-direction: column;
    background-image: url('https://uploads-ssl.webflow.com/58868bcd2ef4daaf0f072900/594c93d4f9a65a6318d46598_world-map.png');
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: 100% auto;
    height: 700px;
}
.section-5-main div{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.section-5-main__item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-5-main__moving {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 95px;
    height: 95px;
    margin: auto;
    -webkit-animation: slidedown 3s infinite alternate;
    -moz-animation: slidedown 3s infinite alternate;
    -o-animation: slidedown 3s infinite alternate;
    animation: slidedown 3s infinite alternate;
}

@-webkit-keyframes slidedown {
    from {
        margin-top: 20px;
        margin-bottom: 35px;
    }
    to {
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

@-moz-keyframes slidedown {
    from {
        margin-top: 20px;
        margin-bottom: 35px;
    }
    to {
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

@-o-keyframes slidedown {
    from {
        margin-top: 20px;
        margin-bottom: 35px;
    }
    to {
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

@keyframes slidedown {
    from {
        margin-top: 20px;
        margin-bottom: 35px;
    }
    to {
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

.section-5-main__footer {
    background-image: url('https://uploads-ssl.webflow.com/58868bcd2ef4daaf0f072900/594c93d4f9a65a6318d46598_world-map.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    text-align: center;
    padding-top: 20px;
}

.section-5__button {
    margin: auto;
}

/*-----------------------------
Zoey
section-6
-----------------------------*/
.section-6 {
    width: 940px;
    display: flex;
    color: #696969;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-6-part1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    padding-right:20px; 
    width: 65%;
}

.section-6-part1__title {
    display: inline-block;
    text-align: left;
    color: #00b289;
    font-size: 2.3em;
    font-family: "Proximanova light";
    margin-bottom: 1.2rem;
}

.section-6-part1 p {
    line-height: 20px;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

.section-6__button {
    margin-right: auto;
}

.section-6-part2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    width: 35%;
}

.section-6-part2 ul {
    list-style-type: none;
    font-size: 1.4rem;
    padding: 0;
}

.section-6-part2 ul li {
    padding: 10px;
    cursor: default;
}

.section-6-part2 ul li span:hover {
    margin-left: 15px;
    transition: 0.6s;
}

.section-6-part2 ul li img {
    vertical-align: bottom;
    margin: 0 10px;
}

/*-----------------------------
Nils
section-8
-----------------------------*/

.section-7-title {
    margin-right: auto;
    margin-left: auto;
}

.section-7-part1 {
    max-width: 940px;
    display: flex;
}
/*-----------------------------
Nils
section-9
-----------------------------*/
.section-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.section-8__button {
    background-color: #00b289;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 1px;
    padding: 16px 25px;
    margin-right: auto;
    margin-left: auto;
}

.section-8__button:hover {
    opacity: 0.9;
}


/*-----------------------------
Nils
footer
-----------------------------*/

footer {
    padding-top: 40px;
    background-color: #353736;
    color: #adadad;
    padding-bottom: 80px;
}

.footer-container {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.footer-title, .footer-subtitle {
    color: white;
    font-family: "Proximanova regular";
    font-size: 14px;
}

.footer-title {
    margin-top: 40px;
    border-bottom: 1px dotted #4c525a;
    max-width: 75%;
}

.footer-subtitle {
    padding-top: 15px;
}

.footer-list {
    margin-bottom: 10px;
    padding-left: 0;
}

.footer-list-item {
    list-style: none;
    margin-bottom: 5px;
    padding-left: 10px;
}

.footer-link {
    color: #b1b1b1;
    text-decoration: none;
    padding-left: 5px;
}

.footer-column-1 {
    flex-grow: 1;
}

.footer-column-2 {
    flex-grow: 1;
}

.footer-column-3 {
    flex-grow: 1;
}

.footer-link:hover {
    color: white;
}

.links-list {
    background-color: #353736;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 50px;
}

.links p {
    opacity: .4;
    color: #d1d1d1;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: #d1d1d1;
    opacity: .4;
}

.links a:hover {
    color: white;
}